<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!! Navbar component -->
<header>
  <nav class="quick-bold">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"
        ><img
          class="animate__animated animate__fadeInUp"
          id="logoFutsal"
          src="../img/logo.png"
          alt=""
      /></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >
      <ul class="right hide-on-med-and-down">
        <li class="waves-effect waves-light hvr-underline-from-left">
          <a href="homepage.html">AboutUs</a>
        </li>
        <li class="waves-effect waves-light hvr-underline-from-left">
          <a href="#">Services</a>
        </li>
        <li class="waves-effect waves-light hvr-underline-from-left">
          <a href="#">Register</a>
        </li>
        <li class="waves-effect waves-light hvr-underline-from-left">
          <a href="login.html">Login</a>
        </li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav quick-bold" id="mobile-demo">
    <li class="waves-effect waves-light hvr-underline-from-left">
      <a href="#">AboutUs</a>
    </li>
    <li class="waves-effect waves-light hvr-underline-from-left">
      <a href="#">Services</a>
    </li>
    <li class="waves-effect waves-light hvr-underline-from-left">
      <a href="#">Register</a>
    </li>
    <li class="waves-effect waves-light hvr-underline-from-left">
      <a href="#">Login</a>
    </li>
  </ul>
</header>

<!-- -----------------------------------------------------------------------  -->
